@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #667085;
  --primary-color: #4080B9;
}

body {
  color: var(--foreground);
  background: #fff;
}

.primary-color {
    color: var(--primary-color);
}

.primary-background {
    background-color: var(--primary-color);
}

.frase {
    border: solid 2px var(--primary-color);
    border-radius: 50px;
    font-style: italic;
}
